<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">No</th>
            <th>seatID</th>
            <th>seatNumber</th>
            <th>Row</th>            
            <th>screenID</th>
            <th>status</th>
            <th>price</th>
        </tr>
                       
        <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>
         
        <tr>
            <td><%=(i+1)%></td>
            <td><%=data[i].seatID%></td>
            <td><%=data[i].seatNumber%></td>
            <td><%=data[i].Row%></td>
            <td><%=data[i].screenID%></td>
            <td><%=data[i].status%></td>
            <td><%=data[i].price%></td>
            <td>
                <a class="a-inside edit" href="/seats/<%=data[i].seatID%>">Edit</a>
               
                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteUser(<%=data[i].seatID%>)">Delete</a>
               
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>
                                      
    </table>
    <div class="page-data">
       
        <form method="post" action="/" id="the-form">
                      
            <table cellpadding="11">
            <tr>
                <td class="label">seatID</td><td>: <input type="text" name="seatID" /></td>
             </tr>
            <tr>
                <td class="label">seatNumber</td><td>: <input type="text"  name="seatNumber" /></td>
             </tr>
              <tr>
                <td class="label">Row</td><td>: <input type="text"  name="Row"  /></td>
             </tr>
             <tr>
                <td class="label">screenID</td><td>: <input type="text"  name="screenID"  /></td>
             </tr>
             <tr>
                <td class="label">status</td><td>: <input type="text"  name="status"  /></td>
             </tr>
             <tr>
                <td class="label">price</td><td>: <input type="text" name="price" /></td>
             </tr>
             <tr>
                <td class="label"></td>
                <td>
                    &nbsp; <input type="button" value="Save" onClick="saveUser()">
                </td>
             </tr>
            </table>
        </form>
    </div>
    <div class="page-data">
         <ul class="err-area"></ul>
    </div>
</div>


<script>

    function saveUser(){
       
       $.ajax({
        
        url:"/seats",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){
            
            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
    
    function deleteUser(user_id){
    
        $.ajax({
            url:"/api/user/"+user_id,
            type: 'DELETE',
            success: function(res) {
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
            
                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
